<h1><%= @questions.count %> Questions</h1>

<div id="questions">
	<% @questions.each do |question| %>
		<%= div_for question do %>
		<%= question.answers_count %> answers
		<%= question.money %> Yuan
		<%= question.credit %> Credits
		<%= link_to question.title, question %>
		<% end %>
	<% end %>
</div>
<% User.all.each do |user| %>
 <%= link_to user.realname, follow_path(:id => user.id) %>
<% end %>

<%= link_to 'New Question', new_question_path %>
