<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @question.title %>
</p>

<p>
  <b>Content:</b>
  <%= @question.content %>
</p>

<p>
  <b>Credit:</b>
  <%= @question.credit %>
</p>

<p>
  <b>Money:</b>
  <%= @question.money %>
</p>

<p>
  <b>Expire time:</b>
  <%= @question.expire_time %>
</p>

<p>
  <b>Answers count:</b>
  <%= @question.answers_count %>
</p>

<p>
  <b>Comments:</b><br>
  <% comments =  '[' + @question.comments.to_s + ']' %>
  
  <% comments = JSON.parse comments %>
  <% comments.each do |comment|         %>
  <%   comment = comment.symbolize_keys %>
  "<%=  comment[:content] %>"
  <%=  link_to comment[:user_id], "/users/#{comment[:user_id]}" %>
  <%=  time_ago_in_words comment[:created_at] %> ago <br>
  <% end                                %>
</p>


<%= render "comments/comment", :commentable => @question %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
