<%= div_for answer do %>
<div id="vote-cell">
	<div class="vote">
		<%= link_to 'vote up', up_answer_votes_path(:answer_id => answer.id), :remote => true, :class => 'vote-up-off' %>
		<span class="vote-count-post" id="answer_<%= answer.id %>_vote"><%= answer.votes_count %></span>
		<%= link_to 'vote down', down_answer_votes_path(:answer_id => answer.id), :remote => true, :class => 'vote-down-off' %>
	</div>
</div>
<div id="post-cell">
	<div class="post">
		<%= answer.content %>
		<div class="post-menu">
			<a>link</a>
			<span class="lsep">|</span>
			<a>edit</a>
			<span class="lsep">|</span>
			<a>flag</a>
		</div>
		<%= render '/partials/user_bar', :obj => answer %>
		<%= render '/partials/comment', :obj => answer %>
	</div>
</div>
<% end %>